<p id="notice"><%= notice %></p>

<p>
  <strong>Workflow template step:</strong>
  <%= @workflow_template_step.workflow_template_step %>
</p>

<%= link_to 'Edit', edit_workflow_template_step_path(@workflow_template_step) %> |
<%= link_to 'Back', workflow_template_steps_path %>
