<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @worflow_request.user %>
</p>

<%= link_to 'Edit', edit_worflow_request_path(@worflow_request) %> |
<%= link_to 'Back', worflow_requests_path %>
