<p id="notice"><%= notice %></p>

<p>
  <strong>Active workflow:</strong>
  <%= @document.active_workflow %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
