<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @active_workflow.name %>
</p>

<%= link_to 'Edit', edit_active_workflow_path(@active_workflow) %> |
<%= link_to 'Back', active_workflows_path %>
